<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraPreviewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9D4A8E31F6B74D5002134AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D4A8F41F6B74D5002134AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D4A8FF1F6B74D5002134AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
